.body {
  font-family: 'PT Sans', sans-serif;
}

header {
  background-image: url(../images/HERO.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  z-index: 0;
}

.hero-headline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info-box {
  position: relative;
  bottom: 2rem;
  background: white;
}
