body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
}

header {
  background-image: url(../images/HERO.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  z-index: 0;
}

.hero-headline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info-box {
  position: relative;
  bottom: 2rem;
  background: white;
}

.kategorier {
  margin: 0;
  padding: 0;
}

.kategorier li {
  list-style-type: none;
  padding-top: 0.5rem;
}

.order-icon {
  font-size: 2rem;
  user-select: none;
  color: #FF4D00;
  padding-left: 15px;
}

.order-icon:hover {
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
}

footer {
  background: #BCBCBC;
  color: white;
}

@media (max-width: 768px) {
  .madbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .kategoribtn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .submenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.cta-background {
  background: #FF4D00;
}

.cta-background:hover {
  background: white;
  border: 1px solid #FF4D00;
}

.cta {
  color: #FF4D00;
}

.cta:hover {
  color: #FF4D00 !important;
}
